body{
    margin-top: 0%;
}
.z{
    margin-top: 0px;
    height:70px;
    width: auto;
    background-color:rgb(244, 246, 247);
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',  Verdana, sans-serif;
}

h1{
  font-size: 65px;
  margin-bottom: 10px;
}
.v{
    margin-top: 20 px;
    
}
.d{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.x{
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: bold;
}